@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

body {
    background-color: #0E3163;
    min-height: 100%;
    width: 100vw;
}
/*1655A8*/


.navbar span {
    display: inline flow-root list-item;
    flex-direction: column;
    background-color: #3f3f3f;
    width: 100%;
    height: 5em;
}

.navbar .nav-icon img {
    height: 3em;
    align-self: flex-start;
    margin: 1em;
    float: left;
    flex-grow: 1;
}

.navbar ul {
    margin-left: 60%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar .nav-list {
    height: 100%;
    text-align: center;
}

.navbar li {
    flex-grow: 1;
    list-style-type: none;
    margin:0;
    display: inline-block;
}

.navbar li {
    margin: 0;
    flex-grow: 2;
    min-width: 10em;
    padding: 1.5em 1em;
}

.navbar li .active {
    text-decoration: underline;
    text-decoration-color: blue;
}

.navbar li a {
    height: 100%;
    width: 100%;
}

.navbar li  a:link {
    text-decoration: none;
}

.navbar li  a:active {
    text-decoration: none;
}

.navbar li  a:visited {
    text-decoration: none;
}

.navbar li  a:hover {
    text-decoration: underline;
}

.content {
    min-height: 100%;
    min-width: 100%;
    background-color: #181a1b;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2d2d2d;
    width: 100%;
    height: 4em;
    position: relative;
    bottom: 0;
}

.footer h5 {
    padding: 0.5em 0em;
    text-align: center;
}

.footer h4 {
    padding: 0.5em 0em 0em 0em;
    text-align: center;
}

.button {
    flex-grow: 1;
    background-color: #6a6a6a;
}

.button .accept {
    background-color: #619361;
}

.button .deny {
    background-color: #b64d4d;
}